/* 
    COMP 1850: Project Plan
    author: Mahmoud Ektefaie
    date:05/06/2022  
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* General Styling */
html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ------ Variables ------ */
:root {
  --main-color: #356d6d;
  --second-color: #006a67;
  --dark-color: #333333;
  --light-color: #bbd9d9;
  --second-transparent: #319491c6;
  --accent-color: rgba(255, 213, 0, 0.884);

  /* fonts */
  --heading-font-face: 'Limelight';
  --block-text-font-face: 'Poppins';

  /* spacing/layout */
  --content-gap: 10px;
}

body {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: var(--block-text-font-face), sans-serif;
  background: var(--dark-color);
  color: var(--dark-color);
  background-image: repeating-linear-gradient(
      transparent,
      transparent 50px,
      rgba(0, 255, 255, 0.25) 50px,
      rgba(0, 255, 255, 0.25) 100px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 255, 255, 0.25),
      rgba(0, 255, 255, 0.25) 50px,
      transparent 50px,
      transparent 100px
    ),
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 4px,
      rgba(255, 255, 255, 0.1) 4px,
      rgba(255, 255, 255, 0.1) 8px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      rgba(255, 255, 255, 0.1) 4px,
      rgba(255, 255, 255, 0.1) 8px
    ),
    repeating-linear-gradient(
      transparent,
      transparent 20px,
      rgba(100, 250, 250, 0.2) 20px,
      rgba(100, 250, 250, 0.2) 21px,
      transparent 21px,
      transparent 29px,
      rgba(100, 250, 250, 0.2) 29px,
      rgba(100, 250, 250, 0.2) 30px,
      transparent 30px,
      transparent 50px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 20px,
      rgba(100, 250, 250, 0.2) 20px,
      rgba(100, 250, 250, 0.2) 21px,
      transparent 21px,
      transparent 29px,
      rgba(100, 250, 250, 0.2) 29px,
      rgba(100, 250, 250, 0.2) 30px,
      transparent 30px,
      transparent 50px
    );
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5% 40%;
  margin: 1em 0 1.5em;
  box-shadow: 0 0 3px 1px #474747;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#wrapper {
  min-width: 300px;
  max-width: 992px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--light-color);
  color: var(--dark-color);
}

.lead {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(83, 91, 89);
}

.highlight {
  padding: 0 0.2em;
  font-weight: 500;
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffde38 0%, #fff6c3 100%);
}

/* Typography */
h1 {
  /* text-shadow: 0px 1px 2px#2d2d2d; */
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
}

h2 {
  color: var(--dark-color);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.5em;
}

/* Outline */

/* Links */
a:link,
a:visited {
  color: #003d93;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgb(173, 113, 0);
}

/* =================================== */
/* Nav Section */
/* =================================== */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--light-color);
  background-color: var(--dark-color);
  font-family: var(--heading-font-face), sans-serif;
}

.brand {
  display: flex;
  align-items: center;
}

.brand--logo,
.brand--logo:visited {
  color: inherit;
  font-size: 50px;
  padding: 0.25em 0.5em;
  /* margin: 0.52em 1em; */
}

.brand--name {
  font-size: 2.2rem;
  text-transform: uppercase;
}

nav {
  width: 100%;
  background-color: var(--second-color);
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 0.25em;
}

nav ul li a {
  font-family: var(--block-text-font-face), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  display: inline-block;
  transition: all 0.3s;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover,
nav ul li a:focus {
  text-shadow: none;
  color: #fdd835;
  transform: scale(1.1);
  /* text-shadow: 0 1px 1px#2d2d2d; */
}

nav ul li a.active {
  text-shadow: none;
  color: #ffe573;
  /* text-shadow: 0 1px 1px#2d2d2d; */
}

/* =================================== */
/* Main Section */
/* =================================== */
header {
  box-shadow: 0 1px 1px #8d8d8d;
}

header.proposal {
  background-image: url(../assets/images/project-proposal.jpg);
  background-position: bottom left;
}

header.analysis {
  background-image: url(../assets/images/web-analysis.webp);
  background-position: center;
}

header.proposal,
header.analysis {
  background-color: #f2d4b2;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header.proposal h1,
header.analysis h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  color: var(--dark-color);
  padding: 0 0.5em;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgb(56, 56, 56);
}

/* =================================== */
/* Main Section */
/* =================================== */
main {
  flex: 1;
  background-color: var(--light-color);
  padding: 1em;
}

article {
  padding: 1em;
}

article p:last-child {
  margin-bottom: 0;
}

/* Main--Proposal */
.architecture--wireframe img {
  border-radius: 0;
  margin: 0;
  box-shadow: 0 0 1px 0 #474747;
}

.architecture--wireframe {
  margin: 1.5em 0;
  box-shadow: 0 0 1px 0 #525252;
}

.architecture--caption {
  font-size: 0.8rem;
  padding: 0.75em;
}

ul.site-objectives li,
ul.list-of-pages li {
  padding: 0.5em;
}

.site-objectives li:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  /* text-align: center; */
  background-image: url(../assets/images/yellow-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  /* box-shadow: 1px px 2px #191919; */
  /* border-radius: 5px; */
}

.site-objectives,
.list-of-pages {
  list-style-type: none;
}

.architecture--flex-img img {
  border-radius: 0;
  margin: 0;
  margin-top: 2.5em;
}

.architecture--flex-img figcaption {
  padding: 0.5em 0 2.5em;
  font-size: 0.9rem;
}

/* =================================== */
/* Footer Section */
/* =================================== */
footer {
  color: var(--light-color);
  background-color: var(--dark-color);
}

footer p {
  text-align: center;
  padding: 0.5em;
  font-size: 0.9rem;
  font-weight: 200;
}

/* =================================== */
/* Medium and up media query */
/* =================================== */
@media screen and (min-width: 768px) {
  .theme--flex,
  .objectives--flex,
  .audience--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .theme--flex-img,
  .objectives--flex-img,
  .audience--flex-img {
    width: 45%;
  }

  .theme--flex-body,
  .objectives--flex-body,
  .audience--flex-body {
    padding: 0 1.5em;
  }

  .theme--flex-body,
  .audience--flex-body {
    order: -1;
  }

  .architecture--flex-img {
    width: 65%;
    margin: auto;
  }

  .architecture {
    width: 80%;
    margin: 0 auto;
  }
}

/* =================================== */
/* Large and up media query */
/* =================================== */
@media screen and (min-width: 992px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .theme--flex,
  .objectives--flex,
  .audience--flex {
    flex-direction: column;
  }

  .theme,
  .objectives,
  .audience,
  .architecture,
  .theme--flex-img,
  .objectives--flex-img,
  .audience--flex-img {
    width: 50%;
  }

  .theme--flex-body,
  .audience--flex-body {
    order: 1;
  }
  .architecture--flex-img {
    width: 90%;
    margin: auto;
  }

  .pages {
    display: none;
  }
}
