/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* 
    COMP 1850: Project Plan
    author: Mahmoud Ektefaie
    date:06/06/2022  
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* General Styling */
html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ------ Variables ------ */
:root {
  --main-color: #356d6d;
  --second-color: #004a48;
  --dark-color: #333333;
  --light-color: #bbd9d9;
  --second-transparent: #319491c6;
  --accent-color: rgba(255, 213, 0, 0.884);

  /* fonts */
  --heading-font-face: 'Limelight';
  --block-text-font-face: 'Poppins';

  /* spacing/layout */
  --content-gap: 10px;
}

body {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: var(--block-text-font-face), sans-serif;
  background: var(--dark-color);
  color: var(--dark-color);
  background-image: -o-repeating-linear-gradient(
      transparent,
      transparent 50px,
      rgba(0, 255, 255, 0.25) 50px,
      rgba(0, 255, 255, 0.25) 100px
    ),
    -o-repeating-linear-gradient(left, rgba(0, 255, 255, 0.25), rgba(
            0,
            255,
            255,
            0.25
          )
          50px, transparent 50px, transparent 100px),
    -o-repeating-linear-gradient(315deg, transparent, transparent 4px, rgba(
            255,
            255,
            255,
            0.1
          )
          4px, rgba(255, 255, 255, 0.1) 8px),
    -o-repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(
            255,
            255,
            255,
            0.1
          )
          4px, rgba(255, 255, 255, 0.1) 8px),
    -o-repeating-linear-gradient(transparent, transparent 20px, rgba(
            100,
            250,
            250,
            0.2
          )
          20px, rgba(100, 250, 250, 0.2) 21px, transparent 21px, transparent
          29px, rgba(100, 250, 250, 0.2) 29px, rgba(100, 250, 250, 0.2) 30px, transparent
          30px, transparent 50px),
    -o-repeating-linear-gradient(left, transparent, transparent 20px, rgba(
            100,
            250,
            250,
            0.2
          )
          20px, rgba(100, 250, 250, 0.2) 21px, transparent 21px, transparent
          29px, rgba(100, 250, 250, 0.2) 29px, rgba(100, 250, 250, 0.2) 30px, transparent
          30px, transparent 50px);
  background-image: repeating-linear-gradient(
      transparent,
      transparent 50px,
      rgba(0, 255, 255, 0.25) 50px,
      rgba(0, 255, 255, 0.25) 100px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 255, 255, 0.25),
      rgba(0, 255, 255, 0.25) 50px,
      transparent 50px,
      transparent 100px
    ),
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 4px,
      rgba(255, 255, 255, 0.1) 4px,
      rgba(255, 255, 255, 0.1) 8px
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      rgba(255, 255, 255, 0.1) 4px,
      rgba(255, 255, 255, 0.1) 8px
    ),
    repeating-linear-gradient(
      transparent,
      transparent 20px,
      rgba(100, 250, 250, 0.2) 20px,
      rgba(100, 250, 250, 0.2) 21px,
      transparent 21px,
      transparent 29px,
      rgba(100, 250, 250, 0.2) 29px,
      rgba(100, 250, 250, 0.2) 30px,
      transparent 30px,
      transparent 50px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 20px,
      rgba(100, 250, 250, 0.2) 20px,
      rgba(100, 250, 250, 0.2) 21px,
      transparent 21px,
      transparent 29px,
      rgba(100, 250, 250, 0.2) 29px,
      rgba(100, 250, 250, 0.2) 30px,
      transparent 30px,
      transparent 50px
    );
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5% 40%;
  margin: 1em 0 1.5em;
  -webkit-box-shadow: 0 0 3px 1px #474747;
  box-shadow: 0 0 3px 1px #474747;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    color-stop(rgba(0, 0, 0, 0.75)),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#wrapper {
  min-width: 300px;
  max-width: 992px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background: var(--light-color);
  color: var(--dark-color);
}

.lead {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(83, 91, 89);
}

.highlight {
  padding: 0 0.2em;
  font-weight: 500;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(54%, transparent),
    color-stop(54%, rgb(251, 253, 137)),
    color-stop(82.625%, rgb(251, 253, 137)),
    color-stop(82.625%, transparent),
    to(transparent)
  );
  background-image: -o-linear-gradient(
    transparent 0%,
    transparent 54%,
    rgb(251, 253, 137) 54%,
    rgb(251, 253, 137) 82.625%,
    transparent 82.625%,
    transparent 100%
  );
  background-image: linear-gradient(
    transparent 0%,
    transparent 54%,
    rgb(251, 253, 137) 54%,
    rgb(251, 253, 137) 82.625%,
    transparent 82.625%,
    transparent 100%
  );
}

/* Typography */
h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
}

h2 {
  color: var(--second-color);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5em;
}

h3 {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1em;
}

p {
  margin-bottom: 0.5em;
}

strong {
  font-size: 1rem;
  font-weight: 500;
}

/* Links */
a:link,
a:visited {
  color: #334f75;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgb(95, 59, 41);
}

.site-link {
  display: inline-block;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/* =================================== */
/* Nav Section */
/* =================================== */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--light-color);
  background-color: var(--dark-color);
  font-family: var(--heading-font-face), sans-serif;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand--logo,
.brand--logo:visited {
  color: inherit;
  font-size: 50px;
  padding: 0.25em 0.5em;
}

.brand--name {
  font-size: 2.2rem;
  text-transform: uppercase;
}

nav {
  width: 100%;
  background-color: var(--second-color);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 0.25em;
}

nav ul li a {
  font-family: var(--block-text-font-face), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover,
nav ul li a:focus {
  text-shadow: none;
  color: #fdd835;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

nav ul li a.active {
  text-shadow: none;
  color: #ffe573;
}

/* =================================== */
/* Main Section */
/* =================================== */
header {
  -webkit-box-shadow: 0 1px 1px #8d8d8d;
  box-shadow: 0 1px 1px #8d8d8d;
}

header.proposal {
  background-image: url(../assets/images/project-proposal.jpg);
  background-position: bottom left;
}

header.analysis {
  background-image: url(../assets/images/web-analysis.webp);
  background-position: center;
}

header.proposal,
header.analysis {
  background-color: #f2d4b2;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header.proposal h1,
header.analysis h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  color: var(--dark-color);
  padding: 0 0.5em;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 0 1px rgb(56, 56, 56);
  box-shadow: 0 0 0 1px rgb(56, 56, 56);
}

/* =================================== */
/* Main Section */
/* =================================== */
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: var(--light-color);
  padding: 1em;
}

article {
  padding: 1em;
}

article p:last-child {
  margin-bottom: 0;
}

.architecture--wireframe img {
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 1px 0 #474747;
  box-shadow: 0 0 1px 0 #474747;
}

.architecture--wireframe {
  margin: 1.5em 0;
  -webkit-box-shadow: 0 0 1px 0 #525252;
  box-shadow: 0 0 1px 0 #525252;
}

.architecture--caption {
  font-size: 0.8rem;
  padding: 0.75em;
}

ul.site-objectives li,
ul.list-of-pages li {
  padding: 0.5em;
}

.site-objectives li:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(../assets/images/yellow-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.site-objectives,
.list-of-pages {
  list-style-type: none;
}

.architecture--flex-img img {
  border-radius: 0;
  margin: 0;
  margin-top: 2.5em;
}

.architecture--flex-img figcaption {
  padding: 0.5em 0 2.5em;
  font-size: 0.9rem;
}

/* =================================== */
/* Footer Section */
/* =================================== */
footer {
  color: var(--light-color);
  background-color: var(--dark-color);
}

footer p {
  text-align: center;
  padding: 0.5em;
  font-size: 0.9rem;
  font-weight: 200;
}

/* =================================== */
/* Medium and up media query */
/* =================================== */
@media screen and (min-width: 768px) {
  h1 {
    font-weight: 300;
    font-size: 2.4rem;
    letter-spacing: 2px;
  }

  .theme--flex,
  .objectives--flex,
  .audience--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .theme--flex-img,
  .objectives--flex-img,
  .audience--flex-img {
    width: 45%;
  }

  .theme--flex-body,
  .objectives--flex-body,
  .audience--flex-body {
    padding: 0 1.5em;
  }

  .theme--flex-body,
  .audience--flex-body {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .architecture--flex-img {
    width: 65%;
    margin: auto;
  }

  .architecture {
    width: 80%;
    margin: 0 auto;
  }

  .competitors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .ifab,
  .dutch {
    width: 50%;
    padding: 0 1em 1em;
  }

  .frequent,
  .color,
  .layout {
    padding: 0 2em 2em;
  }
}

/* =================================== */
/* Large and up media query */
/* =================================== */
@media screen and (min-width: 992px) {
  h1 {
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 3px;
  }

  h2 {
    text-align: left;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .theme--flex,
  .objectives--flex,
  .audience--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .theme,
  .objectives,
  .audience,
  .architecture,
  .theme--flex-img,
  .objectives--flex-img,
  .audience--flex-img {
    width: 50%;
  }

  .theme--flex-body,
  .audience--flex-body {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .architecture--flex-img {
    width: 90%;
    margin: auto;
  }

  .frequent-color-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .frequent,
  .color,
  .layout {
    width: 33%;
    padding: 0 1em;
  }
}
